<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Believe</title>
</head>

<body>
    Trust the process, {{name}}!
    <h1>What's on your mind?</h1>
    <form action='/about' method='get'>
        <textarea name='text' style='margin: 0px; width: 1507px; height: 131px;'></textarea> <br>
        <input type="checkbox" name="removepunc"> Remove Punctuations<br>
        <input type="checkbox" name="capitalize"> UPPERCASE<br>
        <input type="checkbox" name="newlinerem"> Remove New Line<br>
        <input type="checkbox" name="exspacerem"> Remove Extra Space<br>
        <input type="checkbox" name="charcount"> Count Characters <br>
        <button type="submit"> Let's go!</button>
    </form>
</body>

</html>